# ----- 临时资料 ---------------
临时资料





# ----- 仅面向研发阶段的诸配置文件 ---------------
.circleci
.vs/**/*
.vscode
.babelrc
.eslintignore
.eslintrc.js
.markdownlint.json
tsconfig.json





# ----- 仅面向研发阶段的诸工具 ---------------
*.sh
*.ps1
用于研发阶段的命令行工具





# ----- 文档 ---------------
documents/





# ----- 测试集 ---------------
测试集/





# ----- 不必发布的源代码 ---------------
source/
